body {
  font-size: $f16;
  line-height: 26px;
  font-family: $pop;
}

.mainBodyContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 247, 247);
  padding-right: 0px;
  transition: padding-right 0.35s ease-in-out 0s;
}

.banner {
  height: 250px;
  background: #f5f5f5 url("https://images.all-free-download.com/images/graphicthumb/beautiful_banner_background_05_hd_picture_169242.jpg") no-repeat scroll center center / cover;
}


.btnBorder {
  padding: 0px 15px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  appearance: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  height: 38px;
  text-decoration: none;
  font-family: inherit;
  color: rgb(0, 158, 127);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(241, 241, 241);
  border-radius: 100px;

  &.cartBtn {
    border: 2px solid rgb(247, 247, 247);
    border-radius: 18px;
    height: 36px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 13px;
    font-weight: 700;

    .cartIcon {
      svg {
        box-sizing: border-box;
        min-width: 0px;
        margin: 0px 8px 0px 0px;
        width: 14.4px;
        height: 12px;
        fill: currentcolor;
      }
    }

    .cartText {

    }

    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 158, 127);
      border-color: rgb(0, 158, 127);
    }
  }
}

.loginWithBtn {
  padding: 0px 30px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  border: 0px;
  background-color: rgb(0, 158, 127);
  height: 48px;
  width: 100%;
  margin-bottom: 10px;
  color: #fff !important;

  .icon {
    display: flex;
    margin-right: 6px;
  }

  &.btnFb {
    background-color: rgb(66, 103, 178);
  }

  &.btnGo {
    background-color: rgb(66, 133, 244);
  }
}

.loadMoreBtn {
  .loadMOre {
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    appearance: none;
    text-align: center;
    height: 38px;
    text-decoration: none;
    color: rgb(0, 158, 127);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(241, 241, 241);
    box-shadow: none;
    outline: none;
    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 158, 127);
      border-color: rgb(0, 158, 127);
    }
  }
}

.addProductBtn {
  .counterBox {
    display: flex;
    background-color: rgb(0, 158, 127);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    border-radius: 200px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    width: 104px;
    height: 36px;
    .counterBtn {
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      height: 100%;
      padding: 10px;
      cursor: pointer;
      box-sizing: border-box;
    }
  }
}