
.productWrap {
  width: calc(100% - 280px);
  height: auto;
  min-height: 100vh;
  padding: 30px 30px 50px;

  .productInner {

  }
}

.productContent {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 247, 247);
  position: relative;
  z-index: 1;
  margin: 0px -15px;
}

.productSingleItem {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;

  .productSingleItemInner {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    font-family: inherit;
    border-radius: 6px;
    cursor: pointer;

    .productImgContent {

      .productImgInner {
        .productImg {
          height: 240px;
          padding: 5px;
          position: relative;
          text-align: center;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;

          img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
          }

          .offers {
            font-family: Lato, sans-serif;
            font-size: 13px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            line-height: 24px;
            background-color: rgb(255, 173, 94);
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 15px;
            border-radius: 12px;
            z-index: 2;
          }
        }
      }
    }

    .productInfoContent {
      padding: 20px 25px 30px;

      .productInfoContentInner {
        .productTitle {
          font-family: Lato, sans-serif;
          font-size: 15px;
          font-weight: 700;
          color: rgb(13, 17, 54);
          margin: 0px 0px 7px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .productWeight {
          font-family: Lato, sans-serif;
          font-size: 13px;
          font-weight: 400;
          color: rgb(119, 121, 140);
        }

        .productMeta {
          margin-top: 30px;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          justify-content: space-between;
          position: relative;

          .productPriceWrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .productPrice {
              font-family: Lato, sans-serif;
              font-size: 15px;
              font-weight: 700;
              color: rgb(0, 158, 127);

              del {
                font-size: 80%;
                color: #ccc;
                margin-left: 5px;
              }
            }
          }


        }
      }
    }
  }
}


.productDetailsModal {
  max-width: 1020px;
  width: 100%;
  border-radius: 6px;
}

.productDetailsWrap {
  .productDetailsInner {
    .productDetailsContent {

    }
  }
}

.productDetailsImgWrap {
  .productDetailsSliderContent {
    padding: 30px 60px;

    .carouselImgItem {
      padding-bottom: 100px;
.react-multi-carousel-track {

}
    }

    .sliderImg {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .react-multi-carousel-dot-list {
      button {
        border: 1px solid rgb(241, 241, 241);
        border-radius: 6px;
        margin-right: 20px;
        padding: 0px;
        outline: none;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: transparent;

        &.active {
          border: 2px solid rgb(0, 158, 127);
        }

        img {

        }
      }
    }
  }
}

.productDetailsInfoWrap {
  border-left: 1px solid #eee;
  height: 100%;

  .productDetailsInfoInner {
    .productDetailsInfo {

      padding: 50px;

      .productTitleWrap {
        width: 100%;
        display: flex;
        align-items: flex-start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-bottom: 10px;

        .productTitle {
          font-size: 21px;
          font-weight: 600;
          color: rgb(13, 17, 54);
          line-height: 1.5;
          display: flex;
        }
      }

      .productWeight {
        font-size: 13px;
        font-weight: 400;
        color: rgb(119, 121, 140);
      }

      .productDescription {
        font-size: 15px;
        font-weight: 400;
        color: rgb(66, 69, 97);
        line-height: 2;
        margin-top: 30px;
      }

      .productTagsWrap {
        margin-top: 30px;

        .productTags {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0px;
          }

          .productTag {
            font-size: 13px;
            font-weight: 700;
            color: rgb(13, 17, 54);
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: rgb(247, 247, 247);
            padding: 0px 15px;
            border-radius: 6px;
            cursor: pointer;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .productCartWrap {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 15px;

        .productPriceWrap {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          flex-shrink: 0;
          margin-left: 0;
          line-height: 31px;

          .productPrice {
            font-weight: 500;
            color: rgb(0, 158, 127);
            font-size: 21px;
          }
        }

        .productCartBtnWrap {
          .cartBtn {
            .cartIcon {
              svg {

              }
            }
          }
        }
      }
    }
  }
}